body {
    margin: 0;
    overflow: hidden;
    background-image: url('flowertree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.flowersground {
    position: absolute;
    z-index: 1;
    width: 250px;
    bottom: 5%;
    left: 85%;
    transform: translateX(-50%);
    height: auto;
    animation: sway 4s ease-in-out infinite alternate;
}

@keyframes sway {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(5deg);
    }
}


.cityscape {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.dancers {
    position: absolute;
    z-index: 2;
    width: 300px;
    top: 30%;
    left: 40%;
    transform: translate(-50px, -70%);
    height: auto;
    animation: float 2s ease-in-out infinite alternate;
}

.deer {
    position: absolute;
    z-index: 3;
    width: 200px;
    top: 60%;
    left: 20%;
    transform: translate(100%, 100%);
    height: auto;
    animation: float 3s ease-in-out infinite alternate;
}

<<<<<<< HEAD
=======
.heartballoons {
    position: absolute;
    z-index: 3;
    width: 200px;
    top: 20%;
    left: 70%;
    transform: translate(100%, 100%);
    height: auto;
    animation: float 3s ease-in-out infinite alternate;
}
>>>>>>> 89e85ddb993e36d919e17d10de080d14b8a007e6

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}